  {% set snipcart_image = page.media.images[page.header.featured_image] %}



<div class="snipcart-item block" >
    <h3><a href="{{ page.url }}">{{ page.header.title }}</a></h3>
    <div class="snipcart-thumb">
        {% if snipcart_image %}
            <a href="{{ page.url }}">{{ snipcart_image.cropResize(200,200).html('page.header.title','snipcart-thumb-image')|raw }}</a>
        {% endif %}
        <span class="snipcart-price">
        €{{ page.header.price }}
        </span>
    </div>
    <div class="snipcart-details">
    <p>
        <a href="{{ page.url }}"
            class="button button-small">
            <i class="fa fa-info-circle"></i> Detalle
        </a>

        {% include 'partials/snipcart_button.html.twig' %}

    </p>
    </div>
</div>
