
{% include 'partials/shipping_banner.html.twig' %}

<div class="product-detail">
  
  {% set snipcart_image = page.media.images[page.header.featured_image] %}
  
  <div class="row">
    
    {{ page.order|trim('.') }}
    
    <div class="large-5 columns header-col">
      
      <div class="snipcart-thumb">
        {% if snipcart_image %}
        {{ snipcart_image.lightbox(1024,768).cropResize(400, 400).html(item.filename|replace({'-': " "}), item.filename|replace({'-': " "})) }}
        {% endif %}
        <span id="product-price" class="snipcart-price">
          {{ page.header.price }}€
        </span>
        <input type="hidden" id="product-price-original" name="product-price-original" value="{{ page.header.price}}">
              <p>
      </p>

      </div> {# snipcart-thumb #}
      
      <div class="other-thumbs row">
        
        {% for item in page.media.images %}

          <a href="{{ page.url(true) }}/{{ item.filename }}" data-imagelightbox="a" >
            {{item.lightbox(1024,768).cropResize(100, 100).html(item.filename|replace({'-': " "}), item.filename|replace({'-': " "})) }}
            <div class="overlay"></div> 
            <div class="link-icon"><i class="icon-plus"></i></div>
          </a>

          {% endfor %}
      </div>     

      <div class="shop-button">
        {% include 'partials/snipcart_button.html.twig' %}
      </div>     
      
      {% for item in page.header.custom %}

      <div id="custom-fields" class="size">
        <fieldset>
          <legend>{{item.name}}</legend>
          {% for option in item.options|split('|') %}
          
          {% set name = option|split('[')|first %}
          {% set price = option|split('[')[1]|replace({'+':'',']':''}) %}
          
          <div class="container">
            <input type="radio" name="demo" value="{{price}}" id="{{name}}" class="form-radio"
                   {% if name == item.value %}checked{% endif %}><label for="radio-one">{{name}}</label>
          </div>
          {% endfor %}
        </fieldset>
      </div>
      {% endfor %}
      
      
                  
    </div> {# snipcart-info #}
    
    <div class="large-7 columns info">
      <h1>{{ page.header.title }}</h1>
  
      <p>{{ page.content|raw }}</p>

      
    </div>{# snipcart-details #}

  </div> {# snipcart-detail #}
</div> {# content-wrapper #}

