<style type="text/css" id="rescue_custom_css">
  .home-header-bg {
   background:url('{{ page.find('/images/backgrounds/').media[site.header.background].url }}' ) #ffffff no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.outer-header{
    background: rgba(96, 96, 96, 0.3);
      -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* for background-size:cover replacement on iOS devices */
@media only screen and (max-width: 40em) {
  .home-header-bg .outer-header {
    background-attachment: scroll;
  }
}
@media only screen and (orientation: portrait) and (device-width: 320px), (device-width: 768px) {
  .home-header-bg .outer-header{
    -webkit-background-size: auto 150%;
    background-attachment: scroll;
  }
}
@media only screen and (orientation: landscape) and (device-width: 320px), (device-width: 768px) {
  .home-header-bg .outer-header{
    -webkit-background-size: 150% auto;
    background-attachment: scroll;
  }
}
.bg-center-center {
  background-position: center center;
}

.site-branding {
  margin: 0 auto;
  display: table;
  padding-top: 2em;
}
</style>

<div class="home-header-bg clearfix">
  <div class="outer-header clearfix">
  <div class="site-branding">
    <a href="{{ base_url_absolute }}">
      <img class="logo" src="{{ theme_url }}/img/{{ site.logo }}" alt="{{ site.logo }}"></a>
    </div>
    <div class="hero-widgets-wrap">
      <div class="row">
        <div class="large-8 large-centered columns">
          <aside id="text-3" class="widget widget_text">
            <h1 class="widget-title">{{ site.header.title }}</h1>
            <div class="textwidget">
              <p>{{ site.header.description }}</p>
              <p>
                {% for button in site.header.buttons %}
                <a href="{{ button.url }}" class="{{ button.class }}">{{ button.text }}</a>
                {% endfor %}
              </p>
            </div>
          </aside>
        </div>
      </div>
    </div>
  </div>
  </div>
