
<style type="text/css" id="rescue_custom_css">
.bg-image-header {
  background:url( '{{ theme_url }}/img/{{ site.header.background }}' ) center bottom #ffffff;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
}

.bg-center-center {
  background-position: center center;
}

.site-branding {
  margin: 0 auto;
  display: table;
  padding-top: 9em;
}
</style>

<div class="bg-image bg-image-header bg-center-center">
  <div class="site-branding">
    <a href="{{ base_url_absolute }}">
      <img class="logo" src="{{ theme_url }}/img/{{ site.logo }}" alt="{{ site.logo }}">
    </a>
  </div>
</div>
